---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import GifPlayer from '../../components/GifPlayer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Marketing | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<style>
			.container {
				max-width: 750px;
				margin: 0 auto;
				padding: 0 1.5em;
				width: 100%;
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		<Header />
		<div class="container">
			<main>
				<h1>Marketing</h1>
				
				<p class="intro">
					In college, I co-founded <a href="https://web.archive.org/web/20211230180644/https://decoromedia.com/" target="_blank" rel="noopener noreferrer">Decoro Media</a> with three friends. Decoro was an all-inclusive advertising and direct response marketing solution for info products and course creators.
				</p>
				<p class="intro">
					After we all started full-time jobs, we eventually sunset the business. A couple of us took our profits and began testing ecom affiliate campaigns in our free time. <!-- <a href="https://syncniva.com/products/nightclear%E2%84%A2-advanced-led-headlight-glasses" target="_blank" rel="noopener noreferrer">SyncNiva</a> is an example of a brand we have ran in the past. -->
				</p>
				<p class="intro">
					Shortly after, I found some success in lead gen (pay-per-call) affiliate. However, the fragile, house-of-cards nature of the business meant constant scrambling to rebuild what competitors and platform changes kept knocking down. I wanted to grow a more sustainable career and shut down operations to focus 100% on Expedia.
				</p>

				<div class="projects">
					<div class="project">
						<h2>Copywriting Samples</h2>
						<ul>
							<li>Insomnia Sales Letter</li>
							<li>Private Chef</li>
							<li>Exequisuite</li>
						</ul>
						<!--<div class="gif-container">
							<img src="/Chef_DSL.gif" alt="Chef DSL Demo" />
						</div>-->
					</div>
					<div class="project">
						<h2>Ad Samples</h2>
						<ul>
							<li>
								<a href="https://drive.google.com/file/d/1VXOM4cqYVrWd6bXuJKSfUIbPuMfMCFr_/view?usp=sharing" target="_blank" rel="noopener noreferrer">
									Insomnia Video Ad
								</a>
							</li>
							<li>Optimized ad creatives for CTR and ROAS</li>
							<li>Tested copy variations to improve conversion rates</li>
						</ul>
					</div>
				</div>
			</main>
		</div>
		<div class="container">
			<Footer />
		</div>
		<style>
			main {
				margin-top: 8em;
				width: 100%;
			}
			h1 {
				font-size: 25.6px;
				font-weight: 500;
				margin: 0 0 1.5em;
				color: #111;
			}
			.intro {
				font-size: 17.6px;
				line-height: 1.6;
				color: #111;
				margin-bottom: 1em;
			}
			.intro:last-of-type {
				margin-bottom: 4em;
			}
			.intro a {
				color: #0433ff;
				text-decoration: none;
			}
			.projects {
				display: flex;
				flex-direction: column;
				gap: 3em;
			}
			.project {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
			}
			.project h2 {
				font-size: 17.6px;
				font-weight: 500;
				margin: 0;
				color: #111;
			}
			.project ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 0.25em;
			}
			.project li {
				font-size: 14.6667px;
				color: #787878;
				line-height: 1.6;
			}
			.project .gif-container {
				margin-top: 1em;
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.project .gif-container img {
				width: 100%;
				height: auto;
				border-radius: 4px;
			}
			@media (max-width: 720px) {
				main {
					margin-top: 6em;
				}
			}
		</style>
	</body>
</html> 