---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <div class="site-title">
      <a href="/">Joey O'Connor</a>
    </div>
    <div class="nav-links">
      <HeaderLink href="/product">Product</HeaderLink>
      <HeaderLink href="/marketing">Marketing</HeaderLink>
    </div>
  </nav>
</header>

<script>
  const header = document.querySelector('header');
  let lastScroll = 0;
  
  window.addEventListener('scroll', () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll > lastScroll && currentScroll > 0) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
    lastScroll = currentScroll;
  });
</script>

<style>
	header {
		border-bottom: 1px solid #eee;
		background: #fff;
		height: var(--header-height);
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease;
		z-index: 1000;
	}
	header.scrolled {
		background: rgba(255, 255, 255, 0.8);
		-webkit-backdrop-filter: saturate(180%) blur(40px);
		backdrop-filter: saturate(180%) blur(40px);
	}
	nav {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		max-width: 750px;
		margin: 0 auto;
		padding: 0 1.5em;
		gap: 2em;
		box-sizing: border-box;
		width: 100%;
	}
	.site-title a {
		font-size: 16px;
		color: #111;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 1;
		display: flex;
		align-items: center;
	}
	.nav-links {
		display: flex;
		gap: 1.5em;
		line-height: 1;
		align-items: center;
		height: 100%;
	}
	.nav-links :global(a) {
		color: #111;
		text-decoration: none;
		font-weight: 400;
		font-size: 16px;
		transition: all 0.2s;
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
	}
	.nav-links :global(a.active) {
		color: #111;
		font-weight: 400;
	}
	.nav-links :global(a.active::after) {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #111;
	}
	@media (max-width: 720px) {
		header {
			height: var(--header-height-mobile);
		}
		nav {
			gap: 2em;
		}
		.site-title {
			margin-bottom: 0;
		}
		.site-title a, .nav-links :global(a) {
			font-size: 17px;
		}
	}
</style>
