---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Product</HeaderLink>
			<HeaderLink href="/about">Marketing</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/joeyoc27/" target="_blank">
				<span class="sr-only">Connect on LinkedIn</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path
						fill="currentColor"
						d="M13.6 0H2.4C1.08 0 0 1.08 0 2.4v11.2C0 14.92 1.08 16 2.4 16h11.2c1.32 0 2.4-1.08 2.4-2.4V2.4C16 1.08 14.92 0 13.6 0zM4.8 13.6H2.4V6.4h2.4v7.2zM3.6 5.36a1.36 1.36 0 1 1 0-2.72 1.36 1.36 0 0 1 0 2.72zM13.6 13.6h-2.4V9.6c0-.96-.4-1.6-1.28-1.6-.72 0-1.12.48-1.28.96-.08.16-.08.4-.08.64v4h-2.4V6.4h2.4v1c.32-.56 1.04-1.2 2.16-1.2 1.6 0 2.4 1.04 2.4 3.04v4.36z"
					></path>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		font-weight: normal;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.internal-links {
		display: flex;
		gap: 0.5em;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: #f38020;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		nav {
			flex-direction: column;
			align-items: stretch;
		}
		.internal-links {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}
		.social-links {
			display: none;
		}
		h2 {
			text-align: center;
			margin-bottom: 0.5em;
		}
	}
</style>
